/* ============================ */


/*      My parish stream        */


/* ============================ */

.myparish-home-feed {
    display: block;
}

.myparish-home-feed-wrap {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem 0;
}

.myparish-icon-wrapper {
    margin-bottom: .5rem;
}

.myparish-home-feed-app {
    margin: 0 auto;
    display: inline-block;
    width: calc(100% * (1/5) - 1rem);
    text-align: center;
}

.myparish-home-feed-app p {
    text-align: center;
    margin: 0;
}

.dpi_mpa_message_text {
    font-size: 16px;
    line-height: 1.2;
}

.myparish-home-feed-app a, .my_parish_control_next, .my_parish_control_prev {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.myparish-home-feed-app a {
    display: block;
    text-decoration: none;
    opacity: 0.8;
}

.myparish-home-feed-app a:hover {
    opacity: 1;
}

.myparish-home-feed-app .apple-icon-wrapper, .myparish-home-feed-app .android-icon-wrapper {
    display: inline-block;
}

.myparish-home-feed-app .apple-icon:hover, .myparish-home-feed-app .android-icon:hover, .myparish-home-feed-app .myparish-icon:hover {
    opacity: 1;
}

.myparish-home-feed-app .apple-icon-wrapper p, .myparish-home-feed-app .android-icon-wrapper p, .myparish-home-feed-app .myparish-icon-wrapper p {
    display: none;
}

.myparish_icons_myparish, .myparish_icons_apple, .myparish_icons_android, .myparish_arrow_prev {
    fill: #117882;
}

.myparish_icons_myparish {
    height: 70px;
    width: 70px;
}

.my_parish_control_next, .my_parish_control_prev {
    margin-top: 2rem;
    cursor: pointer;
    height: 32px;
    z-index: 100;
    opacity: 0.5;
    padding: .5rem;
}

.my_parish_control_next:hover, .my_parish_control_prev:hover {
    opacity: 0.8;
}

.my_parish_control_next:before, .my_parish_control_prev:before {
    display: block;
    line-height: 40px;
    text-align: center;
}

.my_parish_control_next {
    right: 0;
}

.dpi_mpa_message {
    display: inline-block;
    padding: 0 2rem;
    width: calc(90%);
    height: 75px;
    margin: 0 auto;
    text-align: center;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: calc(100% * (4/5) - 1rem);
    padding: 0 1rem;
    text-align: center;
    display: inline-flex;
    height: inherit;
}

#slider ul {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 50px;
    list-style: none;
}

#slider ul li {
    display: inline-block;
    padding: .5rem;
    font-size: 1.25rem;
    height: 200px;
    width: 100%;
}

#slider ul li a {
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 12px;
}

#slider .dpi_mpa_message_date {
    font-size: 1rem;
    margin-bottom: 0;
    display: block;
}

@media screen and (max-width: 1350px) {
    .hompage-myparish {
        padding: 1rem 1rem 1rem 1rem;
    }
}

@media screen and (max-width: 650px) {
    .myparish-image {
        width: 100%;
        text-align: center;
    }
    .myparish-stream-wrapper {
        width: 100%;
    }
    .home .hompage-myparish {
        display: block !important;
        height: 10rem;
    }
    .myparish-prev {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .myparish-home-feed-wrap {
        display: block;
    }
    .myparish-home-feed-app {
        display: block;
        width: 100%;
    }
    .myparish-icon-wrapper {
        display: inline-block;
    }
    .myparish-icon-wrapper svg {
        height: 40px;
    }
    #slider {
        width: 100%;
        padding: 0;
    }
    #slider ul {
        height: 200px;
    }
    .dpi_mpa_message {
        margin-top: 1rem;
        padding: 0;
    }
}