.dpi-staff-overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.dpi-staff-modal {
  box-sizing: border-box;
  /*border-top: 20px solid #303F9F;*/
  position: absolute;
  top: 5em;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
  /*height: 90%;
  width: 30%;*/
  width: 425px;
  height: 645px;
  background: #d2d2d2;
  border-radius: 3px;
  box-shadow: 10px 20px 60px -10px rgba(0, 0, 0, 0.2);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.dpi-staff-modal > * {
  box-sizing: inherit;
}

.dpi-staff-photo {
  background: #3F51B5;
  width: 100%;
  height: 17em;
  padding: 2em;
  box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.dpi-staff-img {
  width: 100%;
  height: 100%;
  max-width: 14em;
  margin: 0 auto;
  position: relative;
  background: #fff;
  box-shadow: 10px 15px 20px -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.dpi-staff-img.empty:hover,
.dpi-staff-img.set:hover {
  transform: scale(1.01);
}

.dpi-staff-img.empty::after {
  content: '+';
  font-size: 8em;
  font-weight: 700;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.2);
}

.dpi-staff-img.set:hover {
  opacity: 0.8;
}

.dpi-staff-img.set:hover::after {
  display: block;
}

.dpi-staff-img.set::after {
  display: none;
  content: '\2716';
  font-size: 8em;
  font-weight: 700;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 0, 0, 0.5);
}

.dpi-staff-info {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

.dpi-staff-modal label {
  font-size: 1.2em;
  color: #333;
}

.dpi-staff-modal label + label {
  margin-top: .75em;
}

.dpi-staff-modal label,
.dpi-staff-modal input {
  display: block;
}

.dpi-staff-modal input {
  height: 2.5rem;
  margin: 0 auto;
  width: 100%;
  margin-top: .5rem;
  padding-left: .5rem;
  font-size: 1em;
  color: #333;
  letter-spacing: .04em;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* buttons */

.dpi-staff-submit,
.dpi-staff-close {
  border: none;
}

.dpi-staff-submit:focus,
.dpi-staff-close {
  outline: 0;
}

.dpi-staff-close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.1em;
  height: 1.9em;
  width: 2.1em;
  border-radius: 50%;
  cursor: pointer;
  padding-top: .1em;
}

.dpi-staff-close:hover {
  color: #FF5252;
}

.dpi-staff-close:active {
  color: #ff5959;
}

.dpi-staff-submit {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: .75rem 2rem;
  color: #fff;
  background: #FF5252;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  cursor: pointer;
}

.dpi-staff-submit:hover {
  transform: scale(1.01) translateX(-50%);
}

.dpi-staff-submit:active {
  background: #ff5959;
}
