#dpi_cal_settings_page {

  tr {
    display: flex;
    flex-direction: column;
    width: 450px;
  }

  td {
    margin-left: -1em;
    margin-top: -2em;
  }

  input[type="text"] {
    width: 100%;
  }

  input[type="checkbox"] {
    margin-left: .25em;
  }

  a {
    display: inline-block;
    margin: .5em 0 0 .5em;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
